<!doctype html>
<md-card>
  <md-card-content>
    <h3>This is an <img src="{{angularImage}}" class="angular">ngular 2 application served from <img src="{{awsImage}}" class="aws">Amazon Web Services.</h3>
    <h4>This site was built with the following services.</h4>
    <md-list class="center">
        <md-list-item class="centerInner" *ngFor="let service of services">
          <app-common-list-item routerLink="{{service.routerLink}}" mdname="{{service.mdname}}" sourceImage="{{service.sourceImage}}" name="{{service.name}}" description="{{service.description}}"></app-common-list-item>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
